.centered-block {
    width: 1500x; /* Увеличена ширина блока */
    height: 1500px; /* Увеличена высота блока */
    margin: 0 auto; /* Центрирование блока */
    text-align: center; /* Центрирование содержимого внутри блока по горизонтали */
    border: 1px solid black; /* Необязательная рамка для визуализации */
    display: flex; /* Используем flexbox для вертикального центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.centered-block img {
    max-width: 100%; /* Изображение не будет больше блока по ширине */
    max-height: 100%; /* Изображение не будет больше блока по высоте */
    display: block; /* Убирает лишнее пространство под картинкой */
}
